In [130]:
from random import randrange

randrange(1, 46)

20

In [141]:
rotto_list = []
while len(rotto_list) < 6:
    temp = randrange(1, 46)
    if temp not in rotto_list:
        rotto_list.append(temp)

In [142]:
rotto_list

[4, 11, 8, 21, 5, 6]

In [1]:
import pandas as pd   # 새로운 자료구조 2개(시리즈, 데이터프레임)
import numpy as np    # 선형대수 연산을 도와줌
import matplotlib.pyplot as plt  # 데이터 시각화
 
import seaborn as sns # plt를 이용해야 하는 시각화들을 좀 더 쉽게 만들어 줌

In [2]:
titanic_df = sns.load_dataset('titanic')

In [5]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
survived_ctn = 0
for i in titanic_df['survived']:
    if i == 1:
        survived_ctn = survived_ctn + 1

In [7]:
survived_ctn

342

In [8]:
titanic_df['survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: survived, dtype: float64

In [13]:
titanic_df['age'].value_counts(normalize=True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
           ...
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [9]:
male = titanic_df[ titanic_df['sex']=='male' ]
male['survived'].value_counts(normalize=True)

0    0.811092
1    0.188908
Name: survived, dtype: float64

In [10]:
female = titanic_df[ titanic_df['sex']=='female' ]
female['survived'].value_counts(normalize=True)

1    0.742038
0    0.257962
Name: survived, dtype: float64

In [11]:
def predict_titanic(data):
    if data['sex'] == 'male':
        return 0
    else:
        return 1

In [14]:
predict_list = []
for i in titanic_df.index:
    temp = predict_titanic( titanic_df.loc[i] )
    predict_list.append(temp)

In [12]:
titanic_df.loc[0]

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [15]:
(titanic_df['survived'] == predict_list).value_counts(normalize=True)

True     0.786756
False    0.213244
Name: survived, dtype: float64